# Database Configuration
POSTGRES_HOST=localhost
SPOTIFY_DB_PORT=5433
SPOTIFY_DB=spotify
SPOTIFY_DB_USER=analyst
SPOTIFY_DB_PASSWORD=spotify_password

# Dashboard Configuration
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_ADDRESS=localhost